* {  
    font-family: Verdana, sans-serif, "Times New Roman";
    font-size: 25px;
    background-color: salmon;
}

img {
    height: auto;
    width: 450px;
}

h1, h2 {
    color:rgb(255, 82, 82);
    text-align: center;
    background-color: rgb(143, 214, 255);
    padding: 10px;
    margin: 10px;
    border: 0px;
}

div {
    text-align: center; 
}

p  {
    text-align: justify;
}
 
ul, ol {
    text-align: start;
}

section {
    display: flex;
}

body {
    margin: 0;   
}

article {
    padding: 10px;
    margin: 10px;
    border: 0px;
    flex: 1;
}

p, li, ul, ol, article, .external-link {
    background-color: beige;
}